@font-face {
    font-family: 'Avenir';
    src: url('./font/avenir/Avenir-Roman.eot');
    src: local('Avenir Roman'), local('Avenir-Roman'),
    url('./font/avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-Roman.woff2') format('woff2'),
    url('./font/avenir/Avenir-Roman.woff') format('woff'),
    url('./font/avenir/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('./font/avenir/Avenir-Light.eot');
    src: local('Avenir Light'), local('Avenir-Light'),
    url('./font/avenir/Avenir-Light.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-Light.woff2') format('woff2'),
    url('./font/avenir/Avenir-Light.woff') format('woff'),
    url('./font/avenir/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('./font/avenir/Avenir-BookOblique.eot');
    src: local('Avenir Book Oblique'), local('Avenir-BookOblique'),
    url('./font/avenir/Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-BookOblique.woff2') format('woff2'),
    url('./font/avenir/Avenir-BookOblique.woff') format('woff'),
    url('./font/avenir/Avenir-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Black Oblique';
    src: url('./font/avenir/Avenir-BlackOblique.eot');
    src: local('Avenir Black Oblique'), local('Avenir-BlackOblique'),
    url('./font/avenir/Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-BlackOblique.woff2') format('woff2'),
    url('./font/avenir/Avenir-BlackOblique.woff') format('woff'),
    url('./font/avenir/Avenir-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('./font/avenir/Avenir-Heavy.eot');
    src: local('Avenir Heavy'), local('Avenir-Heavy'),
    url('./font/avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-Heavy.woff2') format('woff2'),
    url('./font/avenir/Avenir-Heavy.woff') format('woff'),
    url('./font/avenir/Avenir-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('./font/avenir/Avenir-HeavyOblique.eot');
    src: local('Avenir Heavy Oblique'), local('Avenir-HeavyOblique'),
    url('./font/avenir/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-HeavyOblique.woff2') format('woff2'),
    url('./font/avenir/Avenir-HeavyOblique.woff') format('woff'),
    url('./font/avenir/Avenir-HeavyOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('./font/avenir/Avenir-MediumOblique.eot');
    src: local('Avenir Medium Oblique'), local('Avenir-MediumOblique'),
    url('./font/avenir/Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-MediumOblique.woff2') format('woff2'),
    url('./font/avenir/Avenir-MediumOblique.woff') format('woff'),
    url('./font/avenir/Avenir-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('./font/avenir/Avenir-LightOblique.eot');
    src: local('Avenir Light Oblique'), local('Avenir-LightOblique'),
    url('./font/avenir/Avenir-LightOblique.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-LightOblique.woff2') format('woff2'),
    url('./font/avenir/Avenir-LightOblique.woff') format('woff'),
    url('./font/avenir/Avenir-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('./font/avenir/Avenir-Book.eot');
    src: local('Avenir Book'), local('Avenir-Book'),
    url('./font/avenir/Avenir-Book.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-Book.woff2') format('woff2'),
    url('./font/avenir/Avenir-Book.woff') format('woff'),
    url('./font/avenir/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('./font/avenir/Avenir-Black.eot');
    src: local('Avenir Black'), local('Avenir-Black'),
    url('./font/avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-Black.woff2') format('woff2'),
    url('./font/avenir/Avenir-Black.woff') format('woff'),
    url('./font/avenir/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('./font/avenir/Avenir-Oblique.eot');
    src: local('Avenir Oblique'), local('Avenir-Oblique'),
    url('./font/avenir/Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-Oblique.woff2') format('woff2'),
    url('./font/avenir/Avenir-Oblique.woff') format('woff'),
    url('./font/avenir/Avenir-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: url('./font/avenir/Avenir-Medium.eot');
    src: local('Avenir Medium'), local('Avenir-Medium'),
    url('./font/avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
    url('./font/avenir/Avenir-Medium.woff2') format('woff2'),
    url('./font/avenir/Avenir-Medium.woff') format('woff'),
    url('./font/avenir/Avenir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/*all*/
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    font-family: Roboto, monospace;
}
.btn-green {
   width: 245px;
   height: 55px;
   border: 0 solid;
   border-image-source: none;
   border-image-source: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
   border-radius: 40px;
   background-image: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
}
.wrapper {
    width: 1536px;
    margin: 0 auto;
    background-color: #F3F6EF;
    position: relative;
}
/*all*/
/*header*/
header {
    display: flex;
    background-color: #F3F7EF;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    height: 110px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px #00000087;
    position: absolute;
    z-index: 1;
    clip-path: inset(-5px 0px -5px 0px);
    /*width: 1555px;*/
    /*left: -9px;*/
}
.logo {
    width: 61px;
    height: 62px;
}
.menu {
    display: flex;
}
.lang-burger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hamburger-menu {
    display: none;
    margin: auto 5px;
}
.hamburger {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
}
.menu li {
    padding: 44px 20px;
    list-style-type: none;
}
.lang-btn {
    border: none;
    background-color: #F3F7EF;
    font-size: 18px;
}
/*header-end*/

/*block-1*/
.block1 {
    height: 833px;
    position: relative;
}
.block1-left {
    position: absolute;
    width: 434px;
    left: 149px;
    top: 237px;
}
.block1 div h1 {
    /*font-family: 'Avenir';
    font-weight: 900;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 54px;
    line-height: 115%;
    letter-spacing:0.5px;
    margin: 40px auto;
}
.block1 p {
    /*
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 22px;
    letter-spacing:0.5px;
    */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 21px;
    margin-top: 31px;
}
.block1-btn{
    margin-top: 55px;
    margin-bottom: 97px;
}
.people-img {
    height: 375px;
    width: 721px;
    position: absolute;
    right: 95px;
    top: 297px;
    z-index: 1;
}

/*Верстка по БЭМ*/
/*block-suitable*/
.suitable{
    z-index: 1;
    position: relative;
    background-color: #242029;
    height: 524px;
    margin-top: 50px;
    padding: 79px 153px 0 153px;
    color: #F3F7EF;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
}
.suitable__title{
    font-size: 40px;
}
.suitable__card-wrapper{
    margin-top: 82px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.card-suitable{
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.images-block__img{
    width: 120px;
}
.card-text{
    padding-right: 25px;

}
.card-text > .card-text__title{
    width: 315px;
    font-size: 24px;
}
.card-text__description{
    font-size: 14px;
}
.card-text__description-left{
    width: 220px;
}
.card-text__description-right{
    width: 240px;
}
.card-text__title-left{
    padding-bottom: 24px;
}
.card-text__title-right{
    padding-bottom: 14px;
}
.suitable-green{
    margin: 0 auto;
    display: block;
    margin-top: 105px;
}
/*block-suitable-end*/
/*block-possibility*/
.possibility{
    padding: 82px 152px 88px 152px;
}
.possibility__title{
    text-align: center;
    color: #2F2A37;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 115%;
    z-index: 1;
    position: relative;
}
.possibility__description{
    margin: 23px auto 84px auto;
    width: 810px;
    color: #6E6C72;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 100;
    line-height: 120%;
    z-index: 1;
    position: relative;
}
.possibility__card-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.possibility .p-card{
    width: 388px;
    height: 317px;
    border-radius: 10px;
    background: linear-gradient(134deg, #FFF 0%, rgba(243, 246, 239, 0.00) 89.58%);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(5.5px);
    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 31px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    z-index: 1;
}
.p-card__img{
    display:block;
}
.p-card-clicked{
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04), 11px 6px 48px 4px #36FF9F !important;
}
.p-card-upped{
    background: linear-gradient(134deg, #FFF 0%, rgba(243, 246, 239, 0.00) 89.58%) !important;
    backdrop-filter: blur(5.5px);
 }
.p-card__title{
    color: #2F2A37;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    display:block;
}
p-card__description{
    color: #2F2A37;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    display:block;
}
.possibility__button{
    display: block;
    margin: 53px auto 0 auto;
    z-index: 1;
    position: relative;
}
/*block-possibility-end*/

/*balls*/
.balls__ball{
    position: absolute;
    background-repeat: no-repeat;
}
.balls__ball_blue{
    top: 77px;
    width: 821px;
    height: 821px;
    right: -300px;
    opacity: 0.7;
    border-radius: 821px;
    background: #6BFFCA;
    filter: blur(120px);
}
.balls__ball_blue-big{
    width: 1056px;
    height: 1021px;
    border-radius: 1056px;
    background: #6BFFCA;
    top: 1086px;
    left: -500px;
    opacity: 0.7;
    filter: blur(206px);
}
.balls__ball_purpure{
    top: 1800px;
    border-radius: 1251px;
    background: #9E00FF;
    width: 1251px;
    height: 1210px;
    right: -500px;
    opacity: 0.7;
    filter: blur(182.5px);

}
/*balls-end*/

.advantages {
    position: relative;
    margin-top: -60px;
    padding: 78px 149px 0 149px;
    height: 1777px;
    z-index: 1;
    background: url("../image/bg.png");
    background-repeat: no-repeat;
    background-position-x: 120%;
    background-size: 100% auto;
    color: #F3F6EF;
}
.advantages__title{
    width: 491px;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 115%;
    margin: 89px auto 77px auto;
}
.advantage{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}
.advantage__element{
    border-radius: 84px;
    height: 68px;
    background: linear-gradient(180deg, #FFF 1.63%, rgba(243, 246, 239, 0.00) 98.44%);
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(5.5px);
    margin-bottom: 31px;
    margin-right: 25px;
    padding: 0 23px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.advantage__element__text{
    font-family: Roboto;
    color: #2F2A37;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 0 23px;
}
.advantage__element__icon-ok{
    background-image: url("../image/ok-circle.svg");
    display: block;
    margin-left: 5px;
    width: 40px;
    height: 40px;
}
.advantages__figure_ball-top-grey{
    position: absolute;
    top: 20px;
    left: 180px;
}
.advantages__figure_left-semicircle-top{
    position: absolute;
    top: 436px;
    left: -80px;
    z-index: -1;
}
.advantages__figure_elipce-rigth{
    position: absolute;
    top: 390px;
    right: -70px;
    z-index: -1;
}
.advantages__figure_circle-right{
    position: absolute;
    top: 870px;
    right: -60px;
}
.advantages__figure_left-ball-purple{
    position: absolute;
    top: 855px;
    left: -35px;
}
.advantages__figure_left-semicircle-bottom{
    position: absolute;
    top: 1150px;
    left: -100px;
    z-index: -1;
}
.start-scool{
    margin: 75px 0;
}
.start-scool__title{
    color: #F3F6EF;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 115%;
    margin-bottom: 15px;
}
.start-scool__sub-title{
    color: #F3F6EF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    max-width: 471px;
}
.start-scool__price{
    color: #6BFFCA;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-top: 49px;
    margin-bottom: 15px;
}
.start-scool__demo{
    color: #F3F6EF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    max-width: 241px;
    margin-bottom: 68px;
}
.for{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 95px;
}
.for__list__title{
    color: #F3F6EF;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 115%;
    margin-bottom: 55px;
}
.for-list-block{
    max-width: 479px;
}
.for-list-block__title{
    color: #6BFFCA;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 20px;
}
.for-list-block__text{
    color: #F3F6EF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 50px;
}
footer{
    width: 1536px;
    margin: 0 auto;
}
.footer-top{
    margin: 107px 200px 80px 152px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.footer-top__logo{
    width: 102px;
    height: 103px;
}
.footer-top__logo img{
    width: 100%;
}
.footer-menu__title{
    color: #2F2A37;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 31px;
}
.footer-menu__list{
    list-style: none;
    color: #2F2A37;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
.footer-menu__list li{
    /*padding: 20px;*/
    margin: 20px 0;
}
.footer-menu__list li a{
    color: #2F2A37;
}
/*footer*/
.footer-bottom {
    background: #6BFFCA;
    padding: 0 100px 0 159px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 74px;
}
.footer-bottom__copyright{
    color:#6E6C72;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.footer-bottom__social-icons img {
    width: 35px;
    height: 34px;
    margin: 0 15px;
}
/*footer-end*/


/*Медиа запросы!*/
/*Устройства с разрешением менее 1920px*/
@media (max-width: 1920px) {
    .wrapper {
        width: 1024px;
        /*background-color: gold;*/
    }

    .block1-left {
        left: 50px;
    }
    .people-img {
        width: 500px;
        right: 50px;
        top: 350px;
    }
    .people-img img{
        width: 500px;
    }

    .suitable {
        padding: 79px 50px 0 50px;
    }

    .possibility {
        margin: 82px auto 0 auto;
        padding: 0 50px;
    }
    .possibility .p-card {
        width: 280px;
        height: 280px;
        padding: 20px;
    }
    .advantages{
        margin-top: 0;
        padding: 78px 60px 0 60px;
        height: 1150px;
    }
    .advantages__title {
        margin: 89px auto 40px auto;
    }
    .advantage__element{
        height: 40px;
        margin-bottom: 15px;
    }
    .advantage__element__text {
        font-size: 1rem;
    }
    .advantage__element__icon-ok{
        margin-left: 0;
        width: 25px;
        block-size: 58%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .advantages__figure_ball-top-grey {
        top: 0;
    }
    .start-scool {
        margin: 30px 0;
    }
    .start-scool__price {
        margin-top: 20px;
    }
    .start-scool__demo{
        margin-bottom: 25px;
    }
    .for{
        margin-top: 35px;
    }
    .for__list__title{
        font-size: 1.7rem;
        margin-bottom: 15px;
    }
    .for-list-block__title{
        margin-bottom: 5px;
    }
    .for-list-block__text{
        margin-bottom: 10px;
    }
    .for__image{
        max-width: 50%;
    }
    .for__image img{
        width: 100%;
    }
    .advantages__figure_left-ball-purple,
    .advantages__figure_circle-right,
    .advantages__figure_elipce-rigth,
    .advantages__figure_left-semicircle-bottom{
        display: none;
    }
    footer {
        width: 1024px;
    }
    .footer-top {
        margin: 20px 30px;
    }
    .footer-top__logo {
        align-self: center;
        margin-left: calc(100% - 920px);
        width: 50px;
        height: 50px;
    }
}

/*Устройства с разрешением менее 992px*/
@media (max-width: 992px) {
    .wrapper {
        width: 100%;
        /*background-color: green;*/
    }
    .menu, .balls, .people-img{
        display: none;
    }
    header{
        position: relative;
    }

    .lang-btn {
        border: none;
        background-color: #F3F7EF;
        font-size: 21px;
    }
    .hamburger-menu {
        display: block;
    }

    .block1{
        position: relative;
        height: 550px;
    }
    .block1-left{
        position: relative;
        text-align: center;
        margin: 0 auto;
        left: 0;
        top: 0;
    }
    .suitable {
        margin: 0;
        padding: 25px 0;
    }
    .suitable__title {
        text-align: center;
    }
    .suitable__card-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .suitable-green {
        margin-top: 15px;
    }
    .possibility {
        margin: 0 auto;
        padding: 25px 20px;
    }
    .possibility__card-row {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .possibility .p-card {
        margin: 20px;
    }
    .advantages__figure{
        display: none;
    }
    .advantages {
        padding: 1px 10px;
        background: url("../image/bg_l.png");
        background-repeat: repeat-y;
        height: 1580px;
    }
    .advantages__title {
        margin: 50px auto 20px auto;
    }
    .advantage{
        flex-direction: column;
    }
    .advantage__element{
        justify-content: space-between;
    }
    .start-scool {
        margin: 0;
        text-align: center;
    }.start-scool__demo {
         text-align: center;
         margin: 0 auto 20px auto;
     }

    .for{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    footer{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .footer-top {
        margin: 10px 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-top__logo{
        margin: 10px auto;
    }
    .footer-bottom{
        padding: 0 50px 0 50px;
    }
}

/*Устройства с разрешением менее 550px*/
@media (max-width: 550px) and (min-width: 360px) {
    .wrapper {
        width: 100%;
    }
    .block1{
        position: relative;
        height: 450px;
    }
    .block1-left {
        width: 100%;
        padding: 5px 0;
    }
    .block1-left h1{
        font-size: 2rem !important;
    }
    .suitable{
        width: 96%;
        padding: 60px 5px;
        height: 700px;
    }
    .suitable__card-wrapper{
        margin-top: 0;
    }
    .suitable__title {
        font-size: 2rem;
    }
    .card-suitable {
        text-align: center;
        width: auto;
        height: 244px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 45px;
    }
    .card-text__description-left,
    .card-text__description-right{
        width: auto;
    }
    .possibility .p-card {
        margin: 10px;
        text-align: center;
    }
    .p-card__img {
        margin: 0 auto;
    }
    .card-text {
        padding-right: 0;
    }
    .possibility__title{
        font-size: 2.5rem;
    }
    .advantages{
        height: 1630px;
    }
    .start-scool__title,
    .start-scool__price{
        font-size: 2rem;
    }
    .possibility__description {
        margin: 23px auto 10px auto;
        width: 284px;
    }
    .advantages__title{
        font-size: 2rem;
        width: auto;
    }
    .advantage__element {
        height: 45px;
        margin-bottom: 10px;
        padding: 0 10px 0 0;
        margin-right: 0;
    }
    .footer-bottom{
        padding: 5px 0;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}

