.people_img {
    background: url("../image/people.png") 100% 100% no-repeat;
    height: 200px;
    background-size: contain;
}
.btn-green {
    width: 245px;
    height: 55px;
    border: 0 solid;
    border-image-source: none;
    border-image-source: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    border-radius: 40px;
    background-image: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
}
.bg4 {
    background: url("../image/bg.png") 100% 100% no-repeat;
    background-size: contain;
}
.fbtm {
    background: #6BFFCA;
}
.icons {
    margin: 5px;
}
ul li {
    list-style-type: none;
}